.footer-container {
  width: 100%;
  height: 4rem;
  background-color: black;
  display: flex;
  margin-top: 20px;
  align-items: center;
  position: absolute;
  bottom: 0;
  border: 0px solid white;
}

.footer-left {
  margin-left: 2%;
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.footer-right {
  margin-right: 2%;
  width: 80%;
  text-align: right;
}

a {
  text-decoration: none;
  color: white;
}
