.footer-container {
  width: 100%;
  height: 4rem;
  background-color: black;
  display: flex;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  border: 0px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.footer-content-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 0px solid white;
}

.copyright-info {
  font-size: 0.8rem;
}
