.left-section-container-kindact {
  height: 200px;
  width: 70%;
  background-color: black;
  border-radius: 10px;
}

.form-element-kindact input[type="text"],
textarea {
  background-color: black;
  border-radius: 5px;
  border: 2px solid #1762a7;
  width: 90%;
  margin-left: 5%;
  height: 40px;
  font-size: 0.9rem;
  color: white;
  margin-top: 1%;
  text-align: left;
}

.kindact-btn {
  width: 100px;
  height: 35px;
  background: #1762a7;
  border-radius: 10px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: white;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.form-element-kindact {
  text-align: left;
  width: 100%;
  margin-top: 3%;
}

.form-text-kindact {
  font-size: 1rem;
  text-align: left;
  padding-top: 7%;
  padding-left: 5%;
  margin-top: 2%;
}

.right-section-kindact {
  width: 50%;
  margin-left: 10%;
  border: 0px solid white;
  height: 100%;
}
.right-section-kindact-heading {
  margin: 2%;
  border-bottom: 3px solid #746767;
  display: flex;
  font-size: 1.2rem;
  height: 30px;
}
.kindact-heading1 {
  width: 80%;
}

.kindact-heading3 {
  width: 20%;
}

.right-section-kindact-content {
  height: 40px;
  width: 96%;
  margin-left: 2%;
  border-bottom: 1px solid #746767;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
}

.kindact-heading1-content {
  width: 80%;
  height: 20px;
  overflow: hidden;
}

.kindact-heading3-content {
  width: 20%;
  border: 0px solid white;
}

.kindact-form-img {
  width: 25px;
  margin-right: 10%;
  margin-left: 20%;
  cursor: pointer;
}
